/* Author: Alejandro Meza Tudela
    Purpose: cool cs for the web page*/

/*
Before and after every element in the web page
 */
*,*::before, *::after{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root{
    /*
    --hue-neutral: #A4C7ED;
     --hue-wrong: #EBDBDB;
    --hue-correct: #C6E5BB;
     */
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
}

body{
    /*
    Set default color for elements which dont have colours asigned to them
   */
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    /*
    Display buttons like table elements
    */
    display: flex;
    width: 100vw;
    height: 100vm;
    justify-content: center;
    align-items: center;
    /*
     100% saturation, 20% brightness
     */
    background-color: hsl(var(--hue), 100%, 20%);
}

/*
 The purpose of the class is to change the background when the answer is correct
 */
body.correct{
    --hue: var(--hue-correct);
}

/*
 The purpose of the class is to change the background when the answer is not correct
 */
body.wrong{
    --hue: var(--hue-wrong);
}

.container{
    width: 800px;
    /*
     To prevent overflow the page
     */
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 11px;
    box-shadow: 0 0 10px 2px;
    margin-top: 50px;
}

.btn-grid{
    display: grid;
    /*
       Use template to have 2 different columns with buttons
     */
    grid-template-columns: repeat(2,auto);
    gap:10px;
    margin: 20px 0 ;
}

.btn{
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue),100%, 50%);
    border-radius: 5px;
    padding: 5px 10px;
    color:white;
    outline: none;
}

/*
 Add hover effec to the buttons
 */
.btn:hover{
    border-color: black;
}

.btn.correct{
    --hue: var(--hue-correct);
    color: black;
}

.btn.wrong{
    --hue: var(--hue-wrong);
}

/*
    Customize our start and next button
 */
.start-btn .next-btn{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

/*
    Also customize the display of our buttons : try to center them in the web page.
 */
.controls{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*
    Class with the purpose of hide at first the buttons from the quiz
 */
.hide{
    display: none;
}

.question{
    font-weight: bold;
}

h1 {
    margin: 25px 0 0.5em 0;
    color: #343434;
    font-weight: normal;
    font-family: 'Ultra', sans-serif;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    text-shadow: 0 2px white, 0 3px #777;
    text-align: center;
}