/* Author: Alejandro Meza Tudela
    Purpose: cool cs for the web page*/

/*
Before and after every element in the web page
 */
*,*::before, *::after{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root{
    --hue-neutral: 2001;
    --hue-wrong: 0;
    --hue-correct: 145;
}

body{
    /*
    Set default color for elements which dont have colours asigned to them
   */
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    /*
    Display buttons like table elements
    */
    display: flex;
    width: 100vw;
    height: 100vm;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--hue), 100%, 20%);
}

h1 {
    margin: 25px 0 0.5em 0;
    color: #343434;
    font-weight: normal;
    font-family: 'Ultra', sans-serif;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    text-shadow: 0 2px white, 0 3px #777;
    text-align: center;
}